[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
selenium = "==3.14.1"
strawberry-graphql = {extras = ["debug-server"], version = "*"}
bs4 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
